{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Nearby doctors located</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!-- Mapbox GL JS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Geocoder plugin -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />
    <!-- Turf.js plugin -->
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    	<!-- Start Modal popup-->
	{% if error %}
	<input type="hidden" id="error" value="{{ error }}">
	{% else %}
	<input type="hidden" id="error" value="0">
	{% endif %}
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Attention!!</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>Mail sent successfully.</p>
				</div>
			</div>
		</div>
  </div>
  
    <div class='sidebar'>
      <div class='heading'>
        <h1 style="font-size:25px;">Nearby Locations Of Doctors</h1>
      </div>
      {% for i in doctor_data %}
      <input type="hidden" class="maisha" value="{{ i.address }}">
      <input type="hidden" class="cno" value="{{ i.contact_no }}">
      <input type="hidden" class="ids" value="{{ i.id }}">
      {% endfor %}
      <div id='listings' class='listings'></div>
    </div>
    <div id='map' class='map'> </div>
    <input type="hidden" id="curr_long" value=""/>
    <input type="hidden" id="curr_lat" value=""/>
    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script>

if ($('#error').val() ==1)
		{
			$("#myModal").modal('show');
		}

        var lat;
      /* This will let you use the .remove() function later on */
      if (!('remove' in Element.prototype)) {
        Element.prototype.remove = function() {
          if (this.parentNode) {
              this.parentNode.removeChild(this);
          }
        };
      }

      mapboxgl.accessToken = 'pk.eyJ1IjoicHJpeWFuc2h1MTAxMiIsImEiOiJja2c5c3JzaDMwMGVoMnNxZmIwcXZ3NzViIn0.wY0s1uF-j-U6BKraxJpsVQ';
      var storesarr = [];
      var searchResult=[];
      var options={};
if ("geolocation" in navigator) { 
    navigator.geolocation.getCurrentPosition(position => { 
        // var map = new mapboxgl.Map({
        // // container id specified in the HTML
        //   container: 'map',

        //    // style URL
        //   style: 'mapbox://styles/mapbox/light-v10',

        //  // initial position in [lon, lat] format
        //   center: [position.coords.longitude, position.coords.latitude],

        //  // initial zoom

        //  zoom: 14
        // });
        var cur_long = position.coords.longitude;
        var cur_lat = position.coords.latitude;     
        document.getElementById('curr_long').value= cur_long;
        document.getElementById('curr_lat').value= cur_lat;

        var marker = new mapboxgl.Marker()
.setLngLat([, 55.665957])
.addTo(map);
        
    });
     
} 
else { console.log("Error") }

   
    var contact=[];
    var identity = [];
    $('.cno').each(function(){
      contact.push($(this).val());
    });
    $('.ids').each(function(){
      identity.push($(this).val());
    });
    var count=0;
    $('.maisha').each(function(){
      // console.log($(this).val());
      var cn = contact[count];
      var id_s = identity[count];
      var address = $(this).val();
      count = count + 1;
    
    
      var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
      
              mapboxClient.geocoding
                  .forwardGeocode({
                  query: address,
                  autocomplete: false,
                  limit: 1
                  })
                  .send()
                  .then(function (response) {
                  if (
                  response &&
                  response.body &&
                  response.body.features &&
                  response.body.features.length
                  ) {
                  var feature = response.body.features[0];

                  // console.log(feature.center)

                  



var stores = {
        "type": "FeatureCollection",
        "features": [

          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": feature.center 
            },
            "properties": {
              "id":id_s,
              "phone": cn,
              "address": address,
            }
          },
          ]
        };
        storesarr.push(stores);
      }
               
              });
             });
      
 
    
      var map = new mapboxgl.Map({
                    
                    container: 'map',
                    style: 'mapbox://styles/mapbox/light-v10',
                    center: [77.4977, 27.2046],
                    zoom: 13,
                    scrollZoom: true
                   
                  });

      /**
       * Wait until the map loads to make changes to the map.
      */
      map.on('load', function (e) {
        /**
         * This is where your '.addLayer()' used to be, instead
         * add only the source without styling a layer
        */
        map.addSource("places", {
          "type": "geojson",
          "data": storesarr
        });

        storesarr.forEach(buildLocationList);

        storesarr.forEach((location) => {
    var coords = location.features[0].geometry.coordinates;
    // add marker to map
    let marker = new mapboxgl.Marker()
        .setLngLat(coords)
        .setPopup(new mapboxgl.Popup({ closeOnClick: true }).setHTML(location.features[0].properties.address))
        .addTo(map);

});

          var get_cur_long = document.getElementById("curr_long").value;
          var get_cur_lat = document.getElementById("curr_lat").value;         
          searchResult = [get_cur_long, get_cur_lat]
          console.log(searchResult)

          var marker = new mapboxgl.Marker({"color":"#F37B7B"})
                    .setLngLat(searchResult)
                    .setPopup(new mapboxgl.Popup({ closeOnClick: true }).setHTML("Current location"))
                    .addTo(map);
          // marker.togglePopup(); 
          

          options = { units: 'kilometers' };
          storesarr.forEach(myfunction);
          

          var listings = document.getElementById('listings');
          // console.log(listings)
          // while (listings.firstChild) {
          //   listings.removeChild(listings.firstChild);
          // }
          // storesarr.forEach(myFunc);
          // console.log(storesarr[0].features[0].properties.distance);
          storesarr.sort(function(a, b){
            let dateA = a.features[0].properties.distance;
            let dateB = b.features[0].properties.distance;
            if (dateA < dateB) 
            {
              return -1;
            }    
            else if (dateA > dateB)
            {
              return 1;
            }   
            return 0;
          });

  

          storesarr.forEach(buildLocationList);
          var boundingBox = new mapboxgl.LngLatBounds(storesarr[storesarr.length-1].features[0].geometry.coordinates, searchResult);
          // var bbox = getBbox(stores, 0, searchResult);
         
          map.fitBounds(boundingBox, {
            padding: 100
          });
        // });
      });
      

      /**
       * Add a listing for each store to the sidebar.
      **/
      function buildLocationList(value,index,array) {
        value.features.forEach(function(store, i){
          /**
           * Create a shortcut for `store.properties`,
           * which will be used several times below.
          **/
          var prop = store.properties;
    
          if(prop.distance){
          /* Add a new listing section to the sidebar. */
          var listings = document.getElementById('listings');
          var listing = listings.appendChild(document.createElement('div'));
          /* Assign a unique `id` to the listing. */
          listing.id = "listing-" + prop.id;
          /* Assign the `item` class to each listing for styling. */
          listing.className = 'item';

          /* Add the link to the individual listing created above. */
          var link = listing.appendChild(document.createElement('a'));
          var param = parseInt(prop.id);
          var ins = 1;
          link.href = "../mailsend/"+param+"/";
          link.className = 'title';
          link.id = "link-" + param;
          link.innerHTML = "Send Email";

          /* Add details to the individual listing. */
          var details = listing.appendChild(document.createElement('div'));
          details.innerHTML = prop.phone;
          if (prop.phone) {
            details.innerHTML += ' - Contact Number ';
          }
          // console.log(prop.distance)
          if (prop.distance) {
            var roundedDistance = Math.round(prop.distance*100)/100;
            details.innerHTML += '<p><strong>' + prop.address +'<br>' + 'Distance:' + roundedDistance + ' kilometers away</strong></p>';
          }

          /**
           * Listen to the element and when it is clicked, do four things:
           * 1. Update the `currentFeature` to the store associated with the clicked link
           * 2. Fly to the point
           * 3. Close all other popups and display popup for clicked store
           * 4. Highlight listing in sidebar (and remove highlight for all other listings)
          **/
          link.addEventListener('click', function(e){
            console.log(value)
          });
          }
        });
      }

      /**
       * Use Mapbox GL JS's `flyTo` to move the camera smoothly
       * a given center point.
      **/
      function flyToStore(currentFeature) {
        map.flyTo({
            center: currentFeature.geometry.coordinates,
            zoom: 15
          });
      }

      /**
       * Create a Mapbox GL JS `Popup`.
      **/
      function createPopUp(currentFeature) {
        var popUps = document.getElementsByClassName('mapboxgl-popup');
        if (popUps[0]) popUps[0].remove();

        var popup = new mapboxgl.Popup({closeOnClick: false})
          .setLngLat(currentFeature.geometry.coordinates)
          .setHTML('<h3>Doctor</h3>' +
            '<h4>' + currentFeature.properties.address + '</h4>')
          .addTo(map);
      }
  

      function myfunction(value,index,array)
      {
       
        value.features.forEach(function(store){
            Object.defineProperty(store.properties, 'distance', {
              value: turf.distance(searchResult, store.geometry.coordinates, options),
              writable: true,
              enumerable: true,
              configurable: true
            }
            );
            
          });
      }

    </script>
  </body>
</html>